body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(86, 175, 162);
}
h2{
    text-align: center;
}
form{
    padding: 10px;
    background-color: rgb(160, 154, 194);
    height: 600px;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10px;
    border-radius: 20px;
    margin-bottom: 40px;
}
label{
    display: block;
    margin: 4px;
    font-weight: 500px;
    font-style:oblique;
    font-size: larger;
}
input[type=text],input[type=password],input[type=tel],input[type=email],textarea{
    padding: 4px;
    border: 2px solid rgb(83, 37, 37);
    box-sizing: content-box;
    border-radius: 5px;
    width: 96%;
}
select{
    width: 98%;
    padding: 6px;
    border: 2px solid white;
    border-radius: 5px;
    margin-bottom: 5px;
}
input[type=submit]{
    color: rgba(22,1,1,0.952);
    background-color: rgb(15,189,145);
    cursor:pointer ;
    margin-top: 15px;
    padding: 8px;
    border-radius: 8px;
    margin-left: 20px;
    width: 25%;
    text-size-adjust: 100%;
    font-size: 18px;
}
input[type=submit]:hover{
    background-color: aqua;
}
.registration{
    width: 590px;
    margin-left: 15px;
}
