*{
    margin: 0;
    padding: 0;
}
body{
    background:fixed;
    background:rgb(70, 110, 133)
}
form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: rgb(177, 131, 152);
    border-radius: 5px;
    padding: 30px;
}
h1{
    text-align: center;
    color: rgb(126, 5, 5);
    margin-bottom: 15px;
}
#form button{
    background-color:rgb(102, 7, 102) ;
    color: white;
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    border: 1px solid #333; 
    font-size: 20px;
    cursor: pointer;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid rgb(100, 85, 153);
}
.input-group label{
    font-size: 25px;
}
.input-group input:focus{
    outline: 0px;
}
.input-group .msg{
    color: rgb(55, 47, 102);
    font-size: 15px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: rgb(82, 119, 82);
}

.input-group.msg input{
    border-color: red;
}
